html,body{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.nav-item{
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    transform: scale(1.03);
    font-weight: bold;

}